# SORU 1. Filter kullanarak çift sayıları sayma.

Size tam sayılardan oluşan bir liste verildiğinde bu listedeki çift sayıları sayan ve sayıları döndüren `count_evens` isimli bir fonksiyon yazınız. Fonksiyonun argümanının `numbers` olsun.

Burada `lambda` fonksiyonu kullanız.

In [4]:
def count_evens(numbers):
    return len(list(filter(lambda x: x % 2 == 0, numbers)))

In [2]:
count_evens([1, 2, 4, 5, 6, 9])

3

# SORU 2. Bütün sayıları indeksi ile çarpma. 

Size sayılardan oluşan bir liste verildiğinde bu listedeki elemanları karşılık gelen indeksleri ile çarpan ve çıkan sonucu bir liste olarak döndüren `multiply_by_index`  isimli bir fonksiyon yazınız. Fonksiyonun argümanının `numbers` olsun.

Burada fonksiyonunun return ettiği bir list comprehension kullanınız.

In [3]:
def multiply_by_index(numbers):
    return [index * num for index, num in enumerate(numbers)]

In [5]:
multiply_by_index([10, 20, 30])

[0, 20, 60]

# SORU 3. None (boş) veya boş string ("") olan öğeleri filtreleme.

`clean_list(data)` adında bir fonksiyon yazınız; bu fonksiyon, bir listeden tüm `None` değerlerini ve boş stringleri (`""`) filter kullanarak temizlesin.

**İPUCU**: `x not in [None, '']` kodu kullanılabilir.

In [6]:
def clean_list(data):
    return list(filter(lambda x: x not in [None, ''], data))

In [7]:
clean_list(['apple', '', None, 'banana', '', 'cherry'])

['apple', 'banana', 'cherry']

# SORU 4: Çift indeksli olan öğeleri büyük harfe çevirme.

`uppercase_even_index(items)` adında bir fonksiyon yazınız; bu fonksiyon, `enumerate` ve list comprehension kullanarak sadece çift indeksli öğeleri (elemanları) büyük harfe çevirsin.

In [8]:
def uppercase_even_index(items):
    return [item.upper() if i % 2 == 0 else item for i, item in enumerate(items)]

In [9]:
uppercase_even_index(['cat', 'dog', 'mouse', 'bird'])

['CAT', 'dog', 'MOUSE', 'bird']

# SORU 5. map kullanarak fiyatları formatlandırma.

`format_prices(prices)` adında bir fonksiyon yazınız; bu fonksiyon, `float` türündeki sayılardan oluşan bir listeyi `"$12.99"` gibi biçimlendirilmiş stringlere dönüştürsün. Bu işlemde `map` fonksiyonu kullanılmalıdır.

**İPUCU**: Burada f-string'ler kullanılabilir.

In [10]:
def format_prices(prices):
    return list(map(lambda p: f"${p:.2f}", prices))

In [11]:
format_prices([12.99, 5, 0.99])

['$12.99', '$5.00', '$0.99']